$green: #0ba662;

$font: sans-serif;

body,
html {
  font-family: $font;
  background: #eff3f5;
  padding: 0;
  margin: 0;
}

.navMenu > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.navMenu > ul > li {
  margin: 0 12px;
}
.navMenu > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.navDropdownTitle {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 12px;
}

.navDropdownList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 12px;
  font-size: 18px;
}

.navDropdownList > li > a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  transition: all 300ms ease;
}
.navDropdownList > li > a {
  opacity: 0.5;
  position: relative;
}
.navDropdownList > li > a:hover {
  opacity: 1;
}
.navDropdownList > li > a:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 27px;
  margin-left: 2px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy4zMyAyNGwtMi44My0yLjgyOSA5LjMzOS05LjE3NS05LjMzOS05LjE2NyAyLjgzLTIuODI5IDEyLjE3IDExLjk5NnoiLz48L3N2Zz4=');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#navContainer {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navDropdownSection {
  padding: 24px 32px 24px 24px;
  // border-bottom: 1px solid rgb(236, 236, 236);
}

.navDropdownSection:last-child {
  border-bottom: none;
}

.navDropdownSection > button {
  padding: 12px 16px;
  margin-top: 24px;
  width: 100%;
  background-color: $green;
  border-radius: 99px;
  border: none;
  color: white;
  cursor: pointer;
}

.navDropdownSection > img {
  margin-bottom: 12px;
}

// dropdown grid Uslugi
#navDropdown_uslugiGrid {
  display: grid;
  grid-template-areas:
    'vrachi analizi'
    'vrachi diagnostika'
    'vrachi kosmetologia'
    'vrachi drugoe';
}

#navDropdownVrachi {
  grid-area: vrachi;
  border-right: 1px solid rgb(236, 236, 236);
}
#navDropdownAnalizi {
  grid-area: analizi;
  border-bottom: 1px solid rgb(236, 236, 236);
}
#navDropdownDiagnostika {
  grid-area: diagnostika;
  border-bottom: 1px solid rgb(236, 236, 236);
}
#navDropdownKosmetologia {
  grid-area: kosmetologia;
  border-bottom: 1px solid rgb(236, 236, 236);
}
#navDropdownDrugoe {
  grid-area: drugoe;
}

// Tippy CSS
.tippy-box {
  min-width: 200px;
  max-width: 500px;
  padding: 0;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 10px 48px rgba(0, 0, 0, 0.1);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: white;
}
.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 0px;
  z-index: 1;
}
